#! /bin/bash

read -d '' SCRIPT <<'EOF'
USER_SCRIPT
EOF

echo "$SCRIPT" > /tmp/user-script

echo '----------- START USER SCRIPT ---------------'
su -l sivart -c "/bin/bash /tmp/user-script" 2>&1 | tee /tmp/user-script.log
echo '----------- END USER SCRIPT -----------------'
